
    
div{
    border-radius: 5px;
    background-color: grey;
    padding: 20px;
    width: 50%;
}
input[type=text]{
    margin-top: 10px;
    width: 100%;
}
input[type=submit]{
    margin-top:20px;
    width: 25%;

}